@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: "Inter", "Raleway";
}

.raleway{
    font-family: "Raleway";
}

/* 
@mixin typeBase {
  padding: 4px 8px;
  border-radius: 4px;
}

.klType{
  @include typeBase;
  color: $primary;
  background: rgba($primary, 20%);
}

.bcType{
  @include typeBase;
  color: #f29d53;
  background: rgba(#f29d53, 20%);
}

.sType{
  @include typeBase;
  color: #53f26b;
  background: rgba(#53f26b, 20%);
}

.kType{
  @include typeBase;
  color: #da53f2;
  background: rgba(#da53f2, 20%);
}

.lType{
  @include typeBase;
  color: #5398f2;
  background: rgba(#5398f2, 20%);
} */


@layer components {
  .btn-base {
    @apply raleway rounded-full py-2  px-6 text-sm font-bold flex items-center gap-1;
  }
  .btn-primary {
    @apply btn-base bg-indigo-500 text-white hover:bg-indigo-600;
  }
  .btn-secondary {
    @apply btn-base border-[1.3px] border-indigo-500 text-indigo-500 hover:border-indigo-600 hover:text-indigo-600 ;
  }
  .btn-gradient {
    @apply btn-base bg-gray-800 text-white transition-all hover:-translate-y-1 hover:bg-gradient-to-tl hover:from-indigo-600 hover:via-pink-600 hover:to-orange-500 hover:shadow-xl;
  }
  .highlight {
    @apply text-indigo-500;
  }
  .input{
    @apply rounded border-[1.2px] border-gray-400 p-2 text-sm outline-none focus:border-indigo-500
  }
  .input-disabled{
    @apply input bg-gray-100 text-gray-400
  }
  .type-base{
    @apply py-1 px-2 rounded text-sm font-semibold w-fit
  }
  .klType{
    @apply type-base text-indigo-500 bg-indigo-100
  }
  .bcType{
    @apply type-base text-orange-500 bg-orange-100
  }
  .sType{
    @apply type-base text-green-500 bg-green-100
  }
  .kType{
    @apply type-base text-pink-500 bg-pink-100
  }
  .lType{
    @apply type-base text-sky-500 bg-sky-100
  }
}
